{%extends "base.html"%}

{%block title %}Add | {{fname}}{% endblock %}

{%block content%}
    <div class="mid">
        <div>
            Hi <b>{{fname}}!</b>&nbsp;|&nbsp;<a href="/logout">Logout</a>
        </div>
        <h1>Add Todo List</h1>
        <form action="add-todo" method="post">
            <label>Task</label>
            <textarea name="job" required cols="40" rows="2" placeholder="Enter a task"></textarea>
            <input type="submit" value="Add">
            {%csrf_token%}
        </form>
    </div>
{% endblock %}