{%extends "base.html" %}

{%block title %}Login{% endblock %}

{%block content %}

    <div id="nav">
        <a href="/">home</a> |
        {% if username %}
        welcome {{ username }}
        (<a href="/logout">logout</a>)
        {% else %}
        <a href="/login/">login</a> |
        <a href="/register/">register</a>
        {% endif %}
    </div>

{% if user.fname %}
    <p>Welcome {{ username }}!</p>
{% else %}
    <p>Welcome guest! You need to login to use the ToDo lists</p>
{% endif %}
    <h1>Login</h1>
    {% if form.has_errors %}
    {{ form.text.errors }}
    {% endif %}
    <form action="login_user" method="post">
        Username: <input type="text" name="username" required placeholder="Username">
        Password: <input type="password" name="password" required placeholder="Password">
        <input type="submit" value="Login">
        {%csrf_token%}
    </form>

{% endblock %}